<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <p>----------------------------------------------------------------------------</p>
    
    {% for category in categories %}
    <ul>
        <li>{{category.name}}</li>
    </ul>
    {% endfor %}
    <p>----------------------------------------------------------------------------</p>

    <ul>
    {% for post in posts %}
        <li>
            <p>--------------------------------------------------------------------------------</p>
            <!-- Post Image -->
                <div class="position-relative">
                    {% set first_image = post.media | selectattr('media_type', 'equalto', 'image') | list | first %}
                    {% if first_image %}
                        <img src="{{ url_for('static', filename=first_image.file_path) }}"
                            class="card-img-top"
                            alt="{{ post.title }}">
                    {% else %}
                        <img src="{{ url_for('static', filename='images/flask_theme.jpg') }}"
                            class="card-img-top"
                            alt="Default Image">
                    {% endif %}
                </div>
            <p class="text-muted small mb-4">
                By <strong>{{ post.author.username }}</strong>
                · {{ post.created_at.strftime('%b %d, %Y') }}
                {% if post.updated_at %}
                    · Updated {{ post.updated_at.strftime('%b %d, %Y') }}
                {% endif %}
                {% if post.category %}
                    · <span class="badge bg-secondary">{{ post.category.name }}</span>
                {% endif %}
            </p>
            <p>--------------------------------------------------------------------------------</p>
        </li>
    {% endfor %}
    </ul>

</body>
</html>